body{
    background-color:rgb(253, 238, 218);
    color:rgb(71, 92, 46);
}
.btn{
    color: yellow;
    background-color:tomato;
    border: solid 2px black;
    padding: 6px;
    border-radius: 4px;
}
.btn:hover{
    background-color:red;
}
.btn:active{
    background-color: darkred;
}
.c{
    font-size: 18px;
    text-align: center;
}
.o{
    font-size: 25px;
}
.ram{
    border-radius: 4px;
    border-style: solid;
    border-color:burlywood;
}